
</body>
<footer>
    <div class="logo">
        <a href="https://instagram.com/sahilkulkarni08?igshid=mowg69crbaub" target="_blank">
            <img src="img/insta.png" alt="instagram">
        </a>
        <a href="https://linkedin.com/in/sahil-kulkarni-611a70202" target="_blank">
            <img src="img/link.png" alt="linkdin">
        </a>
        <a href="https://github.com/sahilkulkarni08" target="_blank">
            <img src="img/git.png" alt="github">
        </a>
    </div>
</footer>
</html>