<%-include("partials/header")-%>
<div class="container1">
    <h1>C o n t a c t U s</h1>  
    </div>
    <div class="container2">
        <form>
            <div class=" input form-group">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter your name" autocomplete="off" required>
              </div>
            <div class=" input input1 form-group">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="michaelk@gmail.com" autocomplete="off" required>
            </div>
            <div class=" input input1  form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="ask anything you like anonymously" autocomplete="off" rows="5" required></textarea>
            </div>
            <button type="submit" class=" button btn btn-primary">Message</button>
          </form>
<%-include("partials/footer")-%>