
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<style>
    body{
        /* background-image: url("img/fff.jpg"); */
        background-image: -webkit-linear-gradient(65deg,rgb(184, 241, 243) 50%,rgb(221, 152, 221) 50%);
        background-size: cover;
        background-attachment: fixed;
      
    }
    .mid{
        text-align: center;
        margin-top: 450px;
        font-family: 'Orbitron', sans-serif;
    }
    
    .button1{
        margin-left: 1000px;
        margin-top: 10px;
        font-family: 'Orbitron', sans-serif;
    }
   
    footer {
    text-align: center;
    /* background-color:blanchedalmond; */
    padding: 23px 34px;
    margin-top: 85px;
   
    font-family: 'Baloo 2', cursive;
    margin-top: -1px;
}
.logo img {
    max-height: 30px;
    /* padding: 25px; */
    margin-left: 10px;

}
@media (max-width:1000px) and (min-width:250px){
    body{
        background-image: none;
        /* background-size: cover; */
        /* background-attachment: fixed; */
        background-image: -webkit-linear-gradient(65deg,rgb(183, 233, 235) 50%,rgb(248, 130, 248) 50%);
    

    }
    .mid{
        text-align: center;
        margin-top: 200px;
        font-family: 'Orbitron', sans-serif;
        font-size: 10px;
    }
    
    .button1{
        margin-left: 200px;
        margin-top: 10px;
        font-family: 'Orbitron', sans-serif;
    }
   
}
    
   
  
   
    
  
    
   
</style>
<body>
   
    

  
 
        <!-- <a class="nav-link" href="/compose"><button  class=" button btn btn-danger">Start your blog</button></a> -->

        <!-- <div>
            <img src="img/l1.png" alt="Paris">
        </div>
    -->
    <div class="mid">
        <h1>Publish your passions, your way</h1>
        <h5>Write a unique and beautiful story. It’s easy and free.</h5>
    </div>
    
        <div> 
            <a href="/allpost"><button type="submit" class=" button1 btn btn-danger">Get Started →</button></a>
        </div>
        
        
        <footer>
            <div class="logo">
                <a href="https://instagram.com/sahilkulkarni08?igshid=mowg69crbaub" target="_blank">
                    <img src="img/insta.png" alt="instagram">
                </a>
                <a href="https://linkedin.com/in/sahil-kulkarni-611a70202" target="_blank">
                    <img src="img/link.png" alt="linkdin">
                </a>
                <a href="https://github.com/sahilkulkarni08" target="_blank">
                    <img src="img/git.png" alt="github">
                </a>
            </div>
        </footer>
   
    
</body>
</html>


