<%-include("partials/header")-%>

    <div class="container2">
        <h3 style=" margin-left: 120px; margin-top:30px; color: #000000; font-family: 'Rajdhani', sans-serif;">
            <%=item1.title%>
        </h3>
        <p style=" margin-left: 120px; margin-right: 120px; margin-top: 20px; color: #a7921b;  font-family: 'Helvetica Neue',sans-serif; "
            class="para">
            <%=item1.content%>
        </p>


    </div>
</body>
</html> 